body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}
p{
    text-align: center;
    color: red;
}  
#missao{
    font-size: 50px;
    color: white;
}


#banner{
    width: 100%;
}
#lista{
    font-size: 30px;
}

#conteudo{
    display: inline-block;
}